In [20]:
import yfinance as yf

In [6]:
x = yf.Ticker("VVAR3.SA")

In [8]:
x.history(period = '1mo')

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2021-03-29  11.95  12.07  11.72  11.81  33548900          0             0
2021-03-30  11.83  12.45  11.79  12.34  49654600          0             0
2021-03-31  12.32  12.49  12.01  12.07  36317300          0             0
2021-04-01  12.10  12.52  12.07  12.25  40294400          0             0
2021-04-05  12.50  12.67  12.35  12.52  31041400          0             0
2021-04-06  12.56  12.66  12.28  12.36  32542700          0             0
2021-04-07  12.31  12.42  12.07  12.31  31742600          0             0
2021-04-08  12.33  13.04  12.28  12.92  52506500          0             0
2021-04-09  12.80  12.82  12.40  12.47  51000000          0             0
2021-04-12  12.57  12.69  12.36  12.57  30344100          0             0
2021-04-13  12.59  12.83  12.50  12.61  40659300          0             0
2021-04-14  12.68  12.93  12.54  12.78  40757900          0             0
2021-04-15  12.88  13.03  12.71  12.83  37052900          0             0
2021-04-16  12.80  12.89  12.58  12.75  35421000          0             0
2021-04-19  12.80  12.95  12.65  12.80  42285500          0             0
2021-04-20  12.78  12.83  12.50  12.67  31459600          0             0
2021-04-22  12.76  13.27  12.59  12.63  46846200          0             0
2021-04-23  12.85  13.16  12.69  13.12  49600800          0             0
2021-04-26  13.35  13.45  12.74  12.85  59503000          0             0
2021-04-27  12.90  12.93  12.11  12.16  84091000          0             0
2021-04-28   0.00   0.00   0.00  12.22         0          0             0